/* You can add global styles to this file, and also import other style files */
.productsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* flex-direction: column; */
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 100%;
}